`/* All Common CSS Start  */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}

/* All Common CSS End */
/* Header Part  Start  */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.nav-link {
  color: #ddd;
  font-size: 16px;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.nav-link:hover {
  color: #ddd;
}

.socialPart a {
  margin: 0 8px;
  color: #ddd;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.socialPart a i {
  margin-right: 8px;
}

/* Header Part CSS End */

/* Banner Part  Start  */
#bannerPart {
  padding-top: 340px;
  padding-bottom: 100px;
  background: url(../images/banner\ 2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner h3 {
  font-size: 27px;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald", sans-serif;
  line-height: 40px;
}

.banner h1 {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
  font-family: "Oswald", sans-serif;
  line-height: 90px;
  position: relative;
}

.banner h1::after {
  position: absolute;
  height: 4px;
  width: 90px;
  background: #fff;
  top: 67px;
  right: 26px;
  content: "";
}

.banner p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald", sans-serif;
  width: 521px;
  line-height: 24px;
  padding-bottom: 50px;
}

.bannerbtn a {
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  font-family: "Oswald", sans-serif;
  padding: 15px 25px;
  background: #fff;
  transition: 0.5s;
  border-radius: 3px;
}

.bannerSocialPart {
  padding-top: 160px;
}

.bannerSocial {
  padding: 10px;
  border-radius: 25px;
  display: inline-block;
}

.bannerSocial a {
  font-size: 35px;
  color: #d9d9d9;
  margin: 10px;
}
/* Banner Part  End */
/* About Part  Start  */
#aboutPart {
  background: #121212;
  padding-top: 35px;
  padding-bottom: 80px;
}
.about h3 {
  font-size: 38px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  color: #fff;
  width: 518px;
  line-height: 56px;
  position: relative;
}

.about h3::after {
  position: absolute;
  height: 3px;
  width: 120px;
  background: #ff4655;
  bottom: 11px;
  left: 195px;
  content: "";
}

.aboutImage {
  position: relative;
  padding: 65px 0 50px;
}

.aboutImage::after {
  position: absolute;
  height: 7px;
  width: 163px;
  background: #ff4655;
  top: 58px;
  left: 0px;
  content: "";
}

.aboutImage::before {
  position: absolute;
  width: 7px;
  height: 163px;
  background: #ff4655;
  top: 58px;
  left: -7px;
  content: "";
}
.aboutPoint h3 {
  font-size: 27px;
  font-weight: 600;
  line-height: 40px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 1.5px;
  padding: 170px 0 0 0;
}

.aboutPoint h6 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
}

.aboutPoint i {
  font-size: 16px;
  color: #ff4655;
  margin-right: 10px;
}

.aboutPoint p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  line-height: 22px;
  font-family: "Oswald", sans-serif;
  padding: 20px 0 30px 0;
}

.aboutBtn a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  font-family: "Oswald", sans-serif;
  padding: 15px 25px;
  background: #212121;
  display: inline-block;
  border-radius: 3px;
}

.aboutBtn i {
  font-size: 13px;
  color: #fff;
}
/* About Part  End */
/* Counter Part  Start  */
.counterItem {
  padding: 30px 90px;
  background: #212121;
  border-radius: 0 50px;
  transition: 0.5s;
}

.counterItem:hover {
  transform: scale(1.1);
  background: #333333;
}

.counterItem h3 {
  font-size: 58px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}

.counterItem i {
  font-size: 12px;
  color: #ff4655;
}

.counterItem p {
  font-size: 18px;
  font-weight: 300;
  font-family: "Oswald", sans-serif;
  color: #fff;
  text-align: center;
}
/* Counter Part  End */
/* Popular Part  Start  */


#popularPart {
  background: #191919;
  padding: 115px 0 90px 0;
}

.popularHeading h3 {
  font-size: 45px;
  font-weight: 600;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  /* letter-spacing: 2px; */
  line-height: 45px;
  text-align: right;
  position: relative;
  top: 0;
  right: 0;
}

.popularHeading h3::after {
  position: absolute;
  height: 3px;
  width: 105px;
  background: #ff4655;
  right: 140px;
  bottom: 0;
  content: "";
}
.witcherImage {
  padding-top: 174px;
}
.witcherImage img {
  transition: 0.5s;
}
.witcherImage img:hover {
  transform: scale(1.1);
}
.valorentImage img {
  transition: 0.5s;
}
.valorentImage img:hover {
  transform: scale(1.1);
}
.popularButton {
  position: relative;
}
.popularButton1 {
  position: absolute;
  right: -20px;
  bottom: 50px;
  font-size: 40px;
  color: #fff;
}
.popularButton2 {
  position: absolute;
  right: -20px;
  bottom: 0;
  font-size: 40px;
  color: #fff;
}

/* Popular Part  End */
/* Live Streaming Part  Start  */
#liveStremingPart {
  background: #121212;
  padding: 90px 0;
}
.liveHeading h3 {
  font-size: 38px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
  line-height: 56px;
  letter-spacing: 1.5px;
  color: #fff;
  position: relative;
}
.liveHeading h3::after {
  position: absolute;
  background: #ff4655;
  height: 3px;
  width: 120px;
  bottom: 10px;
  left: 150px;
  content: "";
}
.liveImageHolder {
  display: flex;
  align-items: center;
}
.liveImage img {
  padding-top: 80px;
  transition: 0.5s;
  transform: scale(0.95);
}
.liveImage img:hover {
  transform: scale(1.04);
}
.liveMatchHeading h3 {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
  padding: 60px 0;
}
.teamImg {
  /* height: 100px; */
  clip-path: polygon(0 0, 100% 0%, 93% 100%, 0% 100%);
  position: relative;
  background: #212121;
}

.teamImg h4 {
  position: absolute;
  font-size: 32px;
  font-weight: 500;
  top: 40px;
  bottom: 40px;
  left: 220px;
  right: 60px;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
}
.teamImgTwo {
  /* height: 100px; */
  clip-path: polygon(2% 0, 100% 0%, 100% 100%, 9% 100%);
  position: relative;
  background: #212121;
}
.teamImgTwo img {
  padding-left: 320px;
}
.teamImgTwo h4 {
  position: absolute;
  font-size: 32px;
  font-weight: 500;
  top: 40px;
  bottom: 40px;
  left: 60px;
  right: 220px;
  color: #fff;
  font-family: "Barlow Condensed", sans-serif;
}
.matchTime h5 {
  font-size: 40px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
  padding: 30px 80px;
}
.timeM {
  display: flex;
}
.timeM2 {
  display: flex;
  padding-top: 60px;
}
/* Live Streaming Part  End */
/*Top Games Part  Start  */
#topGamesPart {
  background: #191919;
  padding: 90px 0;
}
.topGamesText h5 {
  font-size: 50px;
  font-weight: 600;
  color: #ffffff;
  line-height: 45px;
  text-align: right;
  position: relative;
  top: 0;
  right: 0;
  padding-bottom: 50px;
  font-family: "Barlow Condensed", sans-serif;
}
.topGamesText h5::after {
  position: absolute;
  height: 3px;
  width: 105px;
  background: #ff4655;
  right: 120px;
  bottom: 60px;
  content: "";
}
.salesItemD img {
  width: 100%;
}
.salesItemD h3 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 20px;
}
.salesItemD h4 {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  font-family: "Oswald", sans-serif;
}
.priceTag {
  display: flex;
  align-items: center;
}
.priceTag h4 {
  background: #ff4655;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding: 5px 4px;
  font-family: "Oswald", sans-serif;
}

.priceTag h5 {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  font-family: "Oswald", sans-serif;
  padding: 25px 10px;
  text-decoration: line-through;
}
.priceTag h6 {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  padding: 25px 10px;
}
.salesItemD {
  transition: 0.5s;
}
.salesItemD:hover {
  transform: scale(1.05);
}
#catalogPart {
  background: #191919;
  padding-top: 65px;
  padding-bottom: 65px;
}
.headingH h4 {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  padding-bottom: 30px;
}
.catalogBg {
  display: flex;
  background: #212121;
  padding: 45px;
}

.catalogLeft h3 {
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #ff4655;
  
  
}
.catalogLeft h4 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Barlow Condensed", sans-serif;
  color: #fff;
  padding-top: 15px;
  line-height: 46px;
  text-transform: uppercase;
}
.catalogLeft p {
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  color: #666666;
  padding-top: 15px;
  line-height: 24px;
  letter-spacing: 0.2px;
  padding-bottom: 37px;
}

.catalogBtn a {
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  background: #121212;
  color: #fff;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 3px;
  transition: .9s;
}
.catalogBtn a:hover{
  background: #ff465f;
  transform: scale(1.1);
}
/*Top Games Part  End */
/* Store Part Start */
#storePart {
    padding: 90px 0;
    background: #121212;
}

.storeButtonPart {
    position: relative;
}

.storeButton {
    display: flex;
    justify-content: space-between;
    top: 100px;
    transition: .5s;
}

.storeButton i {
    color: #fff;
}

.left {
    position: absolute;
    padding: 10px 13px;
    background: #FF4655;
    border-radius: 50px;
    top: 380px;
    left: -25px;
    transition: .5s;
}

.left:hover {
    background: #19c594;
}

.right {
    position: absolute;
    padding: 10px 13px;
    background: #FF4655;
    border-radius: 50px;
    top: 380px;
    right: -25px;
    transition: .5s;
}

.right:hover {
    background: #19c594;
}

.storeHeading h3 {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 56px;
    padding-bottom: 100px;
    position: relative;
}

.storeHeading h3::after {
    position: absolute;
    height: 3px;
    width: 120px;
    background: #FF4655;
    top: 100px;
    right: 110px;
    content: "";
}

.storeItem {
    padding: 20px 35px;
    background: #212121;
    transition: .5s;
}

.storeItem:hover {
    background: rgba(155, 155, 155, 0.25);
}

.storeItem h4 {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 60px;
    text-align: center;
}

.storeItem img {
    width: 100%;
}

.storeItem h3 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 37px;
    text-align: center;
}

.storeItem h5 {
    font-size: 16px;
    font-weight: 600;
    color: #FF4655;
    font-family: "Oswald", sans-serif;
    line-height: 24px;
    text-align: center;
}

/* Store Part End */

/* Team Part Start */
#teamPart {
    padding: 100px 0 75px 0;
    background: #191919;
}

.teamHeading h3 {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    line-height: 46px;
    font-family: "Barlow Condensed", sans-serif;
    text-align: right;
    letter-spacing: 2px;
    position: relative;
}

.teamHeading h3::after {
    position: absolute;
    height: 3px;
    width: 105px;
    background: #FF4655;
    bottom: 9px;
    right: 90px;
    content: "";
}

.teamHeadingGap {
    padding-top: 50px;
}

.teamImage {
    position: relative;
    filter: grayscale(100%);
    transition: .5s;
}

.teamImage img {
    width: 100%;
}
.teamImage:hover {
    filter: grayscale(0%);
}

.teamImageText {
    background: rgba(37, 36, 36, 0.4);
    padding: 40px 60px 30px 30px;
    position: absolute;
    bottom: 0;
}

.teamImageText h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    color: #fff;
    line-height: 36px;
}

.teamImageText p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #fff;
    line-height: 24px;
    padding: 6px 230px 30px 0;
}

.teamImageBtn {
    display: inline-block;
}

.teamImageBtn a {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    font-family: "Oswald", sans-serif;
    padding: 10px 20px;
    background: #FF4655;
    transition: .5s;
}

.teamImageBtn a:hover {
    color: #000;
}

.teamImageSocialOne {
    position: absolute;
    bottom: 16px;
    right: 205px;
    font-size: 35px;
    padding: 1px 5px;
    background: #FF4655;
    border-radius: 50%;
    transition: .5s;
}

.teamImageSocialTwo {
    position: absolute;
    bottom: 16px;
    right: 130px;
    font-size: 35px;
    padding: 1px 5px;
    background: #FF4655;
    border-radius: 50%;
    transition: .5s;
}

.teamImageSocialThree {
    position: absolute;
    bottom: 16px;
    right: 55px;
    font-size: 35px;
    padding: 1px 5px;
    background: #FF4655;
    border-radius: 50%;
    transition: .5s;
}

.teamImageSocial i {
    color: #fff;
    transition: .5s;
}

.teamImageSocial i:hover {
    color: #000;
}

.void {
    padding: 15px 0;
}

/* Team Part End */

/* FAQ Part Start */
#faqPart {
    background: #121212;
    padding: 55px 0 200px 0;
}

.faqHeading h3 {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    line-height: 46px;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2px;
    position: relative;
}

.faqHeading h3::after {
    position: absolute;
    height: 3px;
    width: 100px;
    right: 79px;
    bottom: 8px;
    background: #FF4655;
    content: "";
}

.faqBody {
    display: flex;
    padding: 125px 0 75px 0;
}

.faqPoint h4 {
    font-size: 38px;
    font-weight: 600;
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    background: #FF4655;
    display: inline-block;
    padding: 10px 20px 12px;
}

.faqText h3 {
    font-size: 22px;
    font-weight: 600;
    color: #FF4655;
    font-family: "Barlow Condensed", sans-serif;
}

.faqText p {
    font-size: 16px;
    font-weight: 400;
    color: #666;
    font-family: "Oswald", sans-serif;
    padding: 10px 0 0 0;
    line-height: 24px;
}

.hrLine {
    padding: 1px;
    background: #666;
}

.vrLinePosition {
    position: relative;
}

.vrLine {
    position: absolute;
    padding: 1px;
    background: #666;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}

/* FAQ Part End */

/* Footer Part Start */
#footerPart {
    background: #191919;
    padding: 100px 0;
}

.footerTopPart {
    position: relative;
}

.footerTop {
    position: absolute;
    background: #FF4655;
    padding: 30px 15px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    top: -178px;
    left: 0;
}

.footerTopText h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    padding-right: 25px;
}

.footerTopInput input {
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #666;
    padding-left: 20px;
    font-family: "Barlow Condensed", sans-serif;
    position: relative;
}

.footerTopInput button {
    position: absolute;
    top: 30px;
    right: 14px;
    padding: 10px;
    background: #191919;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    border: none;
    border-radius: 50px;
    width: 10%;
}

.footerBody {
    display: flex;
    padding-top: 50px;
}

.footerRight p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #666;
    line-height: 24px;
    text-transform: uppercase;
    padding: 30px 45px 60px 0;
}

.footerSocial {
    display: flex;
}

.socialIcon {
    padding: 10px 14px;
    border-radius: 50%;
    background: #212529;
    margin-right: 10px;
    transition: .5s;
}

.socialIcon:hover {
    background: #FF4655;
    transform: scale(1.1);
}

.socialIcon a {
    color: #fff;
    font-size: 30px;
}

.footerLinks h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    color: #fff;
}

.footerLinks a {
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #666;
    padding: 30px 20px 0 0;
    display: inline-block;
    transition: .5s;
}

.footerLinks a:hover {
    color: #FF4655;
}

.footerTeams h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    color: #fff;
}

.footerTeams a {
    font-size: 16px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #666;
    padding: 30px 40px 0 0;
    display: inline-block;
    transition: .5s;
}

.footerTeams a:hover {
    color: #FF4655;
}

.footerGallary h3 {
    font-style: 25px;
    font-weight: 600;
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
    padding-bottom: 30px;
}

.footerGallary img {
    width: 100%;
}

/* Footer Part End */

/* Copyright Part Start */
#copyrightPart {
    background: #191919;
}

.copyrightHr {
    padding: 0.5px;
    background: #666;
}

.copyrightHeading h3 {
    text-align: center;
    padding: 25px 0;
    font-size: 20px;
    font: 400px;
    line-height: 24px;
    color: #fff;
    font-family: "Barlow Condensed", sans-serif;
}
.back-to-top a i{
  color: #FF4655;
  font-size: 30px;

}
.back-to-top{
  position: fixed;
  right: 20px;
  bottom: 20px;
}
/* Copyright Part End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
/* Banner Part  Start  */
/* Banner Part  End */
